<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{site.title}} - {{title}}</title>

	<meta name="description" content="{{description}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="pragma" content="no-cache" />

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/style/style.css?v={{generator.seed}}">

</head>


<body>

	{{{nav}}}

	<main>
	{{{template_content}}}
	</main>

</body>
</html>