#cheat-window {

    position: fixed;
    top: 25px;
    left: 25px;

    background-color: rgba(25,25,25,0.9);
    color: white;
    padding: 25px;

    transition: opacity ease 0.1s;
    opacity: 1;

}

* {
    transition: filter,transform ease 500ms;
}

.invert {
    filter: invert();
    backdrop-filter: invert();
}
.sepia {
    filter: sepia(50);
    backdrop-filter: sepia(50);
}
.deepfried {
    filter: saturate(100) contrast(100)  !important;
    backdrop-filter: saturate(100) contrast(100)  !important;
}

.spin {
    animation-name: spin;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.threedee {
    transform: skewY(10deg) translateX(25%);
}

.sleepy {
    filter: brightness(0.2);
}

.sleepy {
    filter: brightness(0.2);
}

.bordered.threedee {
    box-shadow: 15px -8px 2px #bb9001,13px -6px 2px #bb9001,12px -4px 2px #bb9001;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


html.no-css .bordered {
    background-image: url(/assets/media/site/missing_texture.png);
    border: deeppink double 2px;
    box-shadow:
            0 0 0 1px rgba(255,255,255,1),
            0px 0px 5px 1px rgba(255,255,255,0.5);
    background-repeat: repeat;
    background-size: 24px 24px;
    image-rendering: pixelated;
    background-color: black;
}
html.no-css body {
    background-image: url(/assets/media/site/missing_texture.png);
    background-repeat: repeat;
    background-size: 36px 36px;
    image-rendering: pixelated;
    background-attachment: fixed;
    background-color: black;
}

.lua-error {
    position: fixed;
    top: 25px;
    left: 25px;

    line-height: 35px;
    height: 35px;
    width: 400px;
    background-color: #eef0f1;

    border: outset lightgray 2px;

}

@keyframes flicker {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}

.lua-error img {
    height: 20px;
    margin: 2px 15px 5px;
    vertical-align:middle;
    animation: flicker 1s ease infinite;
}