<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{site.title}} - {{title}}</title>

	<meta name="description" content="{{description}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/style/{{style}}.css?v={{generator.seed}}">
	<link rel="stylesheet" href="/assets/style/funny.css?v={{generator.seed}}">
</head>


<body>

	<div id="cheat-window" class="hide">
		Cheats have been activated.<br>
		Achievements will not be awarded for the duration of this session.
	</div>
	{{{nav}}}

	<main>
		{{{template_content}}}
	</main>

	<script src="{{generator.url}}/assets/script/jquery.min.js"></script>
	<script src="{{generator.url}}/assets/script/site.js"></script>
	<script src="{{generator.url}}/assets/script/fartscroll.js"></script>
	<script src="{{generator.url}}/assets/script/funnies.js"></script>

</body>
</html>