<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{site.title}} - {{title}}</title>

    <meta name="description" content="{{description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style/dark.css?v={{generator.seed}}">
</head>


<body>

<main>
    {{{nav}}}
    {{{template_content}}}

    <script src="{{generator.url}}/assets/script/jquery.min.js"></script>
    <script src="{{generator.url}}/assets/script/site.js"></script>
    <script src="{{generator.url}}/assets/script/fartscroll.js"></script>
    <script src="{{generator.url}}/assets/script/funnies.js"></script>
</main>

</body>
</html>